/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
/*  margin-bottom: 60px;*/
}
.footer {
/*  position: absolute;
  bottom: 0px;
  width: 750px;
  height: 60px;
  background-color: #a0a0a0;
  text-align: center;
  left: 50%;*/
  position: absolute; 
  left: 50%; 
  bottom: 0px;
}

.footer div{
  position: relative; 
  left: -50%; 
  /*border: dotted red 1px; */
  width: 750px;
  background: #333 none repeat scroll 0% 0%;
  text-align: center;
  color: #FFF;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 50px 15px 0;
  border: 1px solid #CCC;
}*/
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-xs { 
  min-height:28px; 
  height: 28px;
  background-color: black;
  color: #fff; }
.navbar-xs .navbar-brand{ 
  padding: 0px 12px;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
 }
.navbar-xs .navbar-nav > li > a {  
  padding-top: 0px; 
  padding-bottom: 0px; 
  line-height: 28px;
  color: #fff; }

.navbar-xs .navbar-nav > .active > a,
.navbar-xs .navbar-nav > .active > a:hover,
.navbar-xs .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #666;
}

.navbar-brand {
  height: auto;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  height: 50px;
  background-color: black;
}

@media screen and (max-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    height: auto;
    background-color: black;
  }

  body > .container {
    padding: 50px 15px 0;
    border: 1px solid #CCC;
  }
}

@media screen and (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    height: 10px;
    background-color: black;
    height: 10px !important;
  }

  body > .container {
    padding: 28px 15px 0;
    border: 1px solid #CCC;
  }
}

@media screen and (min-width: 768px) {
  .container {
      width: 750px;
  }
}

/*navbar-cdefault*/
.navbar-cdefault {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  font-size: 1em;
  margin-bottom: 0px;
  min-height: 0px;
}

.nav-custom > li > a {
  padding: 0px;
}

.nav-footer {
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: #222;
  border-color: #080808;
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  color: #ffffff;
  text-align: center;
}
/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
}
.nav-justified > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}
